In [37]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"D:\Dhika Ramadhan Saputra\Data Analist\Latihan data cleaning\Hospital data in Indonesia\(Raw data) Hospital_Indonesia_datasets.csv", delimiter=';')
df

,id,nama,propinsi,kab,alamat,jenis,kelas,status_blu,kepemilikan,total_tempat_tidur,total_layanan,total_tenaga_kerja
0,1110053,RS Arun Lhokseumawe,Aceh,Kota Lhokseumawe,Jl. Plaju Komplek Perumahan PT Arun Batuphat T...,Rumah Sakit Umum,C,Non BLU/BLUD,SWASTA/LAINNYA,218,36,328
1,1106014,RS Umum Fandika,Aceh,Aceh Tengah,Jl. Terminal Simpang Wariji Blangkolak 1 Kec. ...,Rumah Sakit Umum,D,Non BLU/BLUD,SWASTA/LAINNYA,45,15,45
2,1171110,RS Umum Daerah Meuraxa,Aceh,Kota Banda Aceh,Jl. Soekarno Hatta Km. 2 Desa Mibo Kecamatan B...,Rumah Sakit Umum,B,BLUD,Pemkot,310,77,487
3,1171163,RS Gigi Mulut Universitas Syiah Kuala,Aceh,Kota Banda Aceh,Jl. Prof A. Madjid Ibrahim I No. 5 Banda Aceh ...,Rumah Sakit Khusus Gigi dan Mulut,B,BLU,Kementerian Lain,11,24,0
4,1102027,RS Umum Daerah Kota Subulussalam,Aceh,Kota Subulussalam,Jl. Hamzah Fansyuri (Subulussalam-Rundeng) K...,Rumah Sakit Umum,C,BLUD,Pemkot,189,34,537
...,...,...,...,...,...,...,...,...,...,...,...,...
3150,9232011,RS Umum Daerah Er Dabi,Papua Pegunungan,Yalimo,Jl. Trans Wamena Jayapura KM. 123 Heahobak Dis...,Rumah Sakit Umum,D,Non BLU/BLUD,Pemkab,35,18,0
3151,9231002,RS Umum Daerah Lukas Enembe Kab. Memberamo Tengah,Papua Pegunungan,Mamberamo Tengah,"Jln. Poros Gimbis Nomor 1, Distrik Kobakma, Ka...",Rumah Sakit Umum,D PRATAMA,Non BLU/BLUD,Pemkab,85,23,47
3152,9201046,RS Tk. IV 17.07.01 Jenderal LB Moerdani,Papua Selatan,Merauke,"Jl. Poros L.B. Moerdani, Kel. Kamangi, Kec. Ta...",Rumah Sakit Umum,D,Non BLU/BLUD,TNI AD,81,24,0
3153,9212027,RS TNI AD Tk. IV Timika,Papua Tengah,Mimika,Jl. Agimuga Mile 32 Desa Karang Senang Distrik...,Rumah Sakit Umum,D,Non BLU/BLUD,TNI AD,60,43,0
3154,9271023,RS Umum Abepura,Papua,Kota Jayapura,"Jl. Kesehatan No. I Abepura, jayapura",Rumah Sakit Umum,C,BLUD,Pemprop,236,79,190

In [3]:
pd.set_option('display.max_rows', None)

In [4]:
df.isnull().sum()

id                    0
nama                  0
propinsi              0
kab                   0
alamat                0
jenis                 0
kelas                 0
status_blu            0
kepemilikan           0
total_tempat_tidur    0
total_layanan         0
total_tenaga_kerja    0
dtype: int64

In [5]:
df['jenis'].drop_duplicates()

0                        Rumah Sakit Umum
3       Rumah Sakit Khusus Gigi dan Mulut
10        Rumah Sakit Khusus Ibu dan Anak
58                Rumah Sakit Khusus Jiwa
91               Rumah Sakit Khusus Bedah
97                Rumah Sakit Khusus Mata
189               Rumah Sakit Khusus Paru
220             Rumah Sakit Khusus Ginjal
326             Rumah Sakit Khusus Stroke
771             Rumah Sakit Khusus THT-KL
789             Rumah Sakit Khusus Kanker
795            Rumah Sakit Khusus Infeksi
806                          021-26071997
834            Rumah Sakit Khusus Jantung
846               Rumah Sakit Khusus Otak
859       Rumah Sakit Ketergantungan Obat
876          Rumah Sakit Khusus Orthopedi
910                     RS Kapal/Bergerak
1403                                    2
1746
3114                                    -
Name: jenis, dtype: object

In [6]:
df[df['jenis'] == '021-26071997']

,id,nama,propinsi,kab,alamat,jenis,kelas,status_blu,kepemilikan,total_tempat_tidur,total_layanan,total_tenaga_kerja
806,3101002,RS Umum Daerah Kepulauan Seribu,DKI Jakarta,Kepulauan Seribu,"Pulau Pramuka Rt.001 RW.004, Kelurahan : Pulau...",021-26071997,Rumah Sakit Umum,D,BLUD,1966,50,24

In [7]:
df = df[df['id'] != 3101002]

In [ ]:
df.head(50)

In [9]:
df['kelas'].drop_duplicates()

0                             C
1                             D
2                             B
25                    D PRATAMA
47                            A
442            Belum Ditetapkan
1403           Rumah Sakit Umum
1746    Rumah Sakit Khusus Jiwa
Name: kelas, dtype: object

In [10]:
df[df['kelas'] == 'Rumah Sakit Umum']

,id,nama,propinsi,kab,alamat,jenis,kelas,status_blu,kepemilikan,total_tempat_tidur,total_layanan,total_tenaga_kerja
1403,3310015,RS Umum Pusat Dr. Soeradji Tirtonegoro,Jawa Tengah,Klaten,"Jl. KRT. Suraji Tirtonegoro No.1, Klaten",2,Rumah Sakit Umum,A,BLU,30343,419,141
3114,9228002,RS Umum Daerah Kawera,Papua,Mamberamo Raya,"Jln. Demianus Kyeuw-kyeuw, SH",-,Rumah Sakit Umum,D PRATAMA,Non BLU/BLUD,1220,50,20

In [11]:
df[df['id'] == 3310015]

,id,nama,propinsi,kab,alamat,jenis,kelas,status_blu,kepemilikan,total_tempat_tidur,total_layanan,total_tenaga_kerja
1403,3310015,RS Umum Pusat Dr. Soeradji Tirtonegoro,Jawa Tengah,Klaten,"Jl. KRT. Suraji Tirtonegoro No.1, Klaten",2,Rumah Sakit Umum,A,BLU,30343,419,141

In [12]:
df.loc[df['id'] == 3310015, 'jenis'] = 'Rumah Sakit Umum'
df.loc[df['id'] == 3310015]

,id,nama,propinsi,kab,alamat,jenis,kelas,status_blu,kepemilikan,total_tempat_tidur,total_layanan,total_tenaga_kerja
1403,3310015,RS Umum Pusat Dr. Soeradji Tirtonegoro,Jawa Tengah,Klaten,"Jl. KRT. Suraji Tirtonegoro No.1, Klaten",Rumah Sakit Umum,Rumah Sakit Umum,A,BLU,30343,419,141

In [13]:
df.loc[df['id'] == 3310015, 'kelas'] = 'A'
df.loc[df['id'] == 3310015, 'status_blu'] = 'BLU'
df.loc[df['id'] == 3310015, 'kepemilikan'] = 'Tidak Diketahui'
df.loc[df['id'] == 3310015]

,id,nama,propinsi,kab,alamat,jenis,kelas,status_blu,kepemilikan,total_tempat_tidur,total_layanan,total_tenaga_kerja
1403,3310015,RS Umum Pusat Dr. Soeradji Tirtonegoro,Jawa Tengah,Klaten,"Jl. KRT. Suraji Tirtonegoro No.1, Klaten",Rumah Sakit Umum,A,BLU,Tidak Diketahui,30343,419,141

In [14]:
df.loc[df['id'] == 9228002, 'jenis'] = 'Rumah Sakit Umum'
df.loc[df['id'] == 9228002, 'kelas'] = 'D PRATAMA'
df.loc[df['id'] == 9228002, 'status_blu'] = 'Non BLU/BLUD'
df.loc[df['id'] == 9228002, 'kepemilikan'] = 'Tidak Diketahui'

In [24]:
df.loc[df['id'] == 9228002]

,id,nama,propinsi,kab,alamat,jenis,kelas,status_blu,kepemilikan,total_tempat_tidur,total_layanan,total_tenaga_kerja
3114,9228002,RS Umum Daerah Kawera,Papua,Mamberamo Raya,"Jln. Demianus Kyeuw-kyeuw, SH",Rumah Sakit Umum,D PRATAMA,Non BLU/BLUD,Tidak Diketahui,1220,50,20

In [25]:
df['kepemilikan'].drop_duplicates()

0             SWASTA/LAINNYA
2                     Pemkot
3           Kementerian Lain
5                     Pemkab
6                 Perusahaan
11         Organisasi Sosial
13                     POLRI
16                    TNI AD
24                    TNI AL
31                      BUMN
43                   Pemprop
53                Perorangan
89       Organisasi Katholik
92      Organisasi Protestan
159                  Kemkes
232                   TNI AU
288        Organisasi Islam
801         Organisasi Budha
1403         Tidak Diketahui
1746            Non BLU/BLUD
2348        Organisasi Hindu
Name: kepemilikan, dtype: object

In [19]:
df[~df['total_tempat_tidur'].astype(str).str.isnumeric()]

Empty DataFrame
Columns: [id, nama, propinsi, kab, alamat, jenis, kelas, status_blu, kepemilikan, total_tempat_tidur, total_layanan, total_tenaga_kerja]
Index: []

In [24]:
df['total_layanan'].drop_duplicates()

0        36
1        15
2        77
3        24
4        34
5        80
6        64
7        38
8        35
9        56
10       28
11       26
12       84
13       23
14       68
16       82
17       30
18       33
19       22
20       60
24       17
25        3
26       65
27       25
28       13
31       21
34       39
35       47
36       44
38       11
39       20
42       96
43       29
44       32
45       18
46       16
47      141
49       31
57       54
59       75
62       14
64       27
66      106
82       12
86        5
88       61
90        4
92       57
94       53
101      42
107      10
109      55
112      81
113       8
118     101
122      19
123      58
132     134
138      98
144      66
149      67
159     158
174     136
176      78
179      72
188      46
190       9
191      40
193      73
195      37
197      90
201       6
210      48
217      49
219      95
225      97
234      41
236     138
252      74
253     121
259      91
268      79
288      87
293      63
296      99
297     112
304      93
310      43
316     107
324      45
339      71
343      51
353     115
357      52
392     108
402     111
412     110
419     146
430     100
434       7
435      92
445      59
455       1
458      85
522     105
535     124
537      50
541     155
551      69
623      94
675      83
681       2
694      70
719      62
743     102
746     109
757     128
758     114
763     123
769     118
770     131
788      76
789      89
790     113
813     119
814     189
818     122
877     117
887     160
899     125
912     133
921     132
931     120
932     139
946     104
991     135
1039    129
1047    140
1075    147
1086    103
1131    127
1196    218
1221     88
1393    153
1403    419
1600    277
1648    149
1694     86
1743    234
1752    280
1890    116
1972    148
1992    130
2041    157
2284    161
2356    170
2384    174
2808    126
2884    137
2945    163
Name: total_layanan, dtype: int64

In [28]:
df[~df['total_layanan'].astype(str).str.isnumeric()]

Empty DataFrame
Columns: [id, nama, propinsi, kab, alamat, jenis, kelas, status_blu, kepemilikan, total_tempat_tidur, total_layanan, total_tenaga_kerja]
Index: []

In [29]:
df['total_tenaga_kerja']

0        328
1         45
2        487
3          0
4        537
5        470
6        208
7        128
8        199
9          0
10         3
11       315
12      1178
13       147
14       515
15       262
16       442
17        91
18       533
19       119
20       303
21       151
22         0
23       406
24        20
25         0
26      1169
27       801
28        18
29        67
30       640
31        49
32         0
33       123
34       148
35       636
36       577
37       101
38         0
39         0
40       480
41        80
42         0
43       453
44       566
45        66
46       812
47      2039
48        20
49       196
50       167
51       261
52       289
53        13
54        53
55       493
56      1949
57       243
58       541
59       159
60      1100
61        60
62        63
63        36
64       221
65        55
66      1352
67       379
68        44
69        19
70       235
71       118
72       398
73         0
74       156
75        46
76       186
77         0
78        79
79        94
80       721
81       211
82        39
83       275
84        98
85         0
86        19
87       244
88       335
89        59
90         0
91        18
92       104
93         0
94       358
95        16
96       196
97        35
98        75
99         5
100       94
101      112
102      215
103      202
104       76
105        0
106       33
107        0
108       95
109      285
110      263
111      170
112      432
113        0
114       88
115      283
116       89
117      127
118      472
119       32
120      158
121       78
122        9
123      479
124       91
125       25
126       38
127      186
128      317
129       26
130       29
131      350
132      141
133      476
134        0
135      344
136       93
137       65
138      458
139       85
140        0
141      354
142      209
143      357
144      215
145      354
146        0
147      389
148        0
149      516
150      360
151       39
152      261
153       29
154      146
155      255
156       39
157      859
158      153
159     2489
160      151
161        3
162       40
163        0
164       11
165       35
166      562
167        0
168       37
169      235
170       41
171        0
172      252
173      233
174      668
175      272
176      212
177        0
178      129
179      230
180      208
181      227
182      477
183      119
184      203
185      178
186       20
187      152
188      555
189      137
190        0
191       62
192      157
193      530
194       97
195      100
196      448
197      181
198      205
199       42
200      145
201       32
202        0
203       38
204      187
205       34
206      226
207       95
208        0
209       36
210      186
211      683
212      159
213      110
214      117
215      148
216      348
217      352
218      114
219     1404
220      184
221       13
222        0
223      856
224      135
225      590
226        0
227        6
228       33
229      257
230      118
231      177
232       52
233        0
234      400
235       25
236      641
237        0
238        0
239      431
240       32
241      113
242       96
243       72
244        0
245      169
246        1
247       72
248       81
249      403
250       51
251      119
252      157
253      826
254       21
255       34
256       47
257      366
258      441
259      710
260        0
261       10
262      738
263       31
264      151
265      119
266      160
267       61
268       54
269      561
270      292
271        0
272      421
273      106
274       47
275        0
276      117
277       36
278       46
279       30
280      190
281       31
282       97
283      600
284       74
285       73
286       73
287        0
288      273
289      165
290      366
291      482
292      165
293       90
294      223
295      197
296      513
297      310
298       30
299       48
300      265
301      244
302      359
303       42
304      494
305       55
306       37
307       42
308     2152
309       87
310      321
311      229
312        0
313      128
314      450
315       45
316      583
317       37
318       85
319      390
320      459
321        1
322      136
323       40
324      371
325       96
326      660
327      353
328       71
329      176
330       70
331      134
332      144
333      372
334        0
335       40
336       53
337      322
338      126
339      596
340      275
341        0
342       86
343      116
344      488
345      110
346        0
347      394
348      269
349      110
350      101
351      247
352      541
353      535
354      153
355      384
356      258
357      568
358      215
359      436
360      483
361       55
362      197
363      205
364      132
365       79
366      176
367      292
368       78
369        0
370       76
371        0
372       85
373      103
374        0
375       54
376       63
377       75
378      378
379       37
380       35
381      110
382      100
383      257
384      146
385      100
386       62
387      387
388      158
389       93
390      199
391       95
392      546
393       43
394        0
395      787
396       69
397      164
398      130
399      169
400      416
401      210
402      585
403      474
404       70
405      441
406       75
407      100
408      105
409       85
410      306
411       21
412      432
413       27
414     1154
415      864
416        0
417       99
418       45
419     1487
420        0
421       18
422       77
423     1255
424       19
425       82
426        0
427      196
428      125
429      163
430      417
431      544
432       89
433      458
434       20
435      575
436        0
437       51
438      236
439      260
440       71
441      150
442        0
443      455
444      652
445      201
446      423
447      239
448      817
449      144
450      157
451      106
452      571
453      181
454       78
455        0
456      392
457       68
458      170
459      155
460      462
461      205
462      238
463      363
464      152
465       18
466      225
467       22
468        0
469      174
470      278
471      117
472       35
473      584
474        2
475      595
476       12
477      498
478      437
479      399
480       21
481        0
482       25
483      519
484      188
485        8
486        0
487      139
488      348
489      620
490       29
491      509
492      152
493       29
494      431
495      219
496      100
497      943
498      170
499      780
500       46
501       60
502      407
503      141
504      143
505       43
506       62
507      470
508       45
509      438
510      129
511        0
512      110
513      144
514      331
515        0
516      135
517      652
518      548
519       58
520      418
521      114
522      421
523        0
524      598
525      421
526      454
527       34
528      240
529      177
530      119
531      212
532        0
533      679
534       46
535      210
536      347
537      247
538      313
539        0
540      479
541     3030
542      336
543       55
544       30
545      122
546      276
547      421
548       75
549      385
550       46
551      548
552      345
553      206
554      129
555      168
556      468
557      110
558       21
559      267
560      336
561      193
562      116
563      399
564       62
565      841
566      142
567       82
568       22
569        0
570      528
571      269
572        0
573      266
574      564
575      135
576      458
577      298
578      141
579      267
580      104
581      353
582      326
583      369
584      356
585      158
586      237
587      339
588       17
589      335
590      116
591      491
592       48
593      123
594      699
595      545
596      179
597      600
598        0
599       48
600      411
601      115
602      117
603       86
604       49
605       35
606      518
607      217
608      230
609      401
610      104
611      227
612      120
613      256
614      313
615        0
616      105
617      370
618      111
619      161
620      183
621      145
622       50
623      759
624      115
625       21
626      192
627      156
628      275
629      281
630      293
631      265
632      134
633      496
634      325
635       79
636       44
637       98
638      446
639      200
640     1050
641      120
642      107
643     1352
644      525
645        0
646       82
647      120
648      149
649       31
650        0
651      320
652      293
653       70
654        0
655      335
656      199
657       62
658       10
659       95
660      973
661       81
662      106
663      112
664       15
665       54
666      145
667      236
668      350
669      336
670      481
671      124
672       81
673      225
674       60
675      500
676        6
677      767
678      331
679       48
680       72
681        0
682      412
683      135
684      384
685       73
686      663
687       34
688        0
689        0
690       28
691      187
692       71
693       93
694      617
695      154
696      532
697       79
698      145
699       58
700      472
701       13
702      645
703       42
704      485
705       40
706      360
707      155
708       31
709      200
710      556
711       18
712      414
713      159
714      417
715       61
716       26
717        0
718      617
719      283
720       53
721      168
722       68
723      122
724       83
725        0
726      457
727       53
728      370
729      828
730       85
731       86
732      108
733      316
734      396
735      182
736      194
737      543
738      435
739       13
740      221
741      600
742      205
743      247
744      272
745       56
746      428
747      194
748      268
749      126
750       58
751       98
752      282
753      957
754      180
755       95
756       43
757      433
758      452
759      553
760       43
761      264
762     6325
763      801
764      324
765      244
766      212
767      132
768       33
769      627
770     2216
771       25
772      259
773      221
774      260
775      867
776      137
777        0
778       44
779      210
780      122
781      326
782      212
783      860
784     1158
785      959
786      233
787      705
788      518
789      260
790      437
791      176
792      242
793      200
794      144
795      743
796      248
797       87
798       92
799      177
800      215
801        1
802      962
803      626
804      960
805       27
807        0
808      213
809      300
810       81
811      138
812      142
813      304
814      198
815       75
816     1268
817      262
818      725
819       49
820      245
821       31
822      241
823      810
824      520
825      445
826      465
827      153
828      723
829      129
830       36
831        0
832      446
833      312
834        0
835      153
836     1054
837       42
838       56
839      181
840      142
841      130
842      243
843      179
844     2458
845       88
846     1673
847      669
848      192
849      422
850      478
851      213
852      349
853      220
854       21
855     1773
856       82
857      125
858      258
859      327
860      179
861     2392
862      323
863      348
864      107
865       54
866      269
867      227
868      237
869      387
870       63
871      719
872      113
873     2933
874      463
875        0
876      206
877     1335
878      315
879      412
880      500
881      107
882      137
883     3736
884      234
885      142
886      147
887      219
888      263
889       85
890      144
891        0
892      800
893      233
894      210
895      745
896       44
897      196
898        0
899      674
900      268
901      212
902      869
903      398
904      198
905      168
906       72
907      766
908        0
909      164
910        0
911      571
912      533
913      954
914      678
915     1065
916      355
917      131
918     1418
919      195
920       74
921     2696
922     1086
923      102
924       11
925       90
926      460
927       57
928      125
929      164
930        0
931      466
932      975
933      136
934      370
935      382
936      526
937        0
938      332
939      260
940      140
941      133
942       46
943      592
944      766
945      265
946      212
947      160
948        0
949      165
950      405
951      134
952      106
953      733
954      385
955      261
956      439
957     1232
958      172
959      218
960        0
961        0
962      130
963       26
964       30
965       80
966       28
967      188
968      160
969       52
970       42
971        0
972      503
973      133
974      551
975      110
976       30
977       65
978      130
979      134
980      183
981      236
982      185
983        0
984      400
985      122
986       44
987        0
988      310
989      340
990        0
991     1248
992      251
993       52
994      417
995      148
996      249
997       88
998      246
999        0
1000       0
1001     514
1002    1254
1003      46
1004     330
1005     165
1006      92
1007     176
1008     228
1009     997
1010      63
1011     225
1012      64
1013      42
1014     268
1015     467
1016     287
1017     189
1018     304
1019     132
1020     188
1021       0
1022       0
1023    1509
1024     605
1025      71
1026     158
1027     257
1028      45
1029     205
1030      60
1031    1431
1032     142
1033     164
1034       0
1035     129
1036     127
1037      41
1038     193
1039     121
1040      75
1041       0
1042     327
1043      68
1044     344
1045     282
1046     813
1047    1656
1048     472
1049     256
1050     369
1051      24
1052     712
1053     237
1054     223
1055     269
1056     195
1057     173
1058     733
1059     571
1060     344
1061     486
1062      30
1063     472
1064    1417
1065     549
1066       0
1067     243
1068      47
1069       0
1070     690
1071     846
1072     863
1073      75
1074     167
1075     120
1076      16
1077       0
1078     228
1079     103
1080     277
1081      11
1082     151
1083     296
1084     213
1085     157
1086     310
1087     312
1088     468
1089      67
1090       0
1091     901
1092     320
1093     178
1094      79
1095     330
1096     358
1097     120
1098     133
1099      86
1100       0
1101       0
1102    1037
1103     143
1104     318
1105      44
1106      62
1107       0
1108     143
1109      55
1110     231
1111     220
1112      56
1113       0
1114     215
1115      37
1116      54
1117     141
1118     468
1119     387
1120     216
1121      29
1122     877
1123     117
1124     259
1125     228
1126    1597
1127     149
1128       9
1129     237
1130       0
1131    1422
1132     449
1133     126
1134     148
1135       0
1136      69
1137      35
1138      49
1139     651
1140     320
1141     238
1142     418
1143     241
1144     253
1145      51
1146       0
1147     609
1148     138
1149     162
1150     443
1151     156
1152     118
1153     215
1154     269
1155     184
1156      50
1157      47
1158     464
1159     171
1160     142
1161      62
1162     133
1163       0
1164       0
1165     197
1166      17
1167    1095
1168     211
1169     203
1170      79
1171     212
1172      98
1173     540
1174     139
1175      96
1176       0
1177    1282
1178     222
1179       0
1180       0
1181     475
1182     226
1183     291
1184      65
1185     315
1186      85
1187       0
1188       0
1189     506
1190     106
1191     177
1192     855
1193      24
1194     181
1195      41
1196     125
1197     647
1198     152
1199       0
1200       0
1201     861
1202       4
1203     445
1204     328
1205     558
1206     173
1207     356
1208     433
1209      36
1210     283
1211     542
1212     628
1213      11
1214       6
1215       0
1216      21
1217     545
1218     641
1219      72
1220     125
1221     408
1222     349
1223     426
1224       0
1225     588
1226     102
1227     333
1228      78
1229       0
1230     392
1231     166
1232      37
1233     375
1234       0
1235     619
1236     350
1237     243
1238      13
1239     173
1240     795
1241     581
1242      65
1243     109
1244     416
1245     428
1246       0
1247      38
1248      68
1249     152
1250      46
1251      58
1252       0
1253     528
1254     265
1255     538
1256      14
1257     236
1258     221
1259      93
1260     313
1261     513
1262     343
1263     154
1264       0
1265     146
1266     235
1267     752
1268     185
1269     490
1270      63
1271     110
1272       0
1273     261
1274    1573
1275     490
1276      84
1277     126
1278     624
1279       0
1280     912
1281     388
1282    1147
1283     638
1284     106
1285     333
1286     360
1287     959
1288     490
1289     133
1290      34
1291      48
1292       0
1293       0
1294     372
1295     753
1296      86
1297       0
1298     383
1299     519
1300      93
1301     204
1302       1
1303       0
1304      73
1305     281
1306     269
1307     238
1308     132
1309       0
1310       0
1311       0
1312    2979
1313     289
1314     191
1315     141
1316     321
1317      16
1318       0
1319     647
1320     110
1321      64
1322     153
1323      87
1324       0
1325     117
1326      60
1327      57
1328    1039
1329      49
1330     191
1331    1605
1332      67
1333       0
1334     505
1335     180
1336     133
1337      79
1338      66
1339      90
1340       0
1341     155
1342     586
1343     428
1344     248
1345     252
1346      94
1347     161
1348      43
1349      30
1350     241
1351     108
1352       0
1353       0
1354     108
1355      80
1356     180
1357     264
1358     495
1359     207
1360     197
1361     103
1362     257
1363      33
1364     484
1365      41
1366       0
1367     550
1368     279
1369      23
1370       0
1371      50
1372     131
1373      61
1374     319
1375     414
1376     140
1377     779
1378     309
1379       0
1380      66
1381      52
1382     769
1383      22
1384     293
1385     304
1386     196
1387      61
1388       0
1389     853
1390      55
1391       0
1392     149
1393    3128
1394     133
1395    1213
1396     986
1397      87
1398     122
1399     186
1400      93
1401       0
1402     148
1403     141
1404      61
1405     142
1406     286
1407     265
1408     124
1409     145
1410     417
1411    1431
1412     166
1413      53
1414       0
1415     101
1416      62
1417      78
1418     102
1419     273
1420    1174
1421    1071
1422       0
1423       0
1424     591
1425     315
1426     277
1427     696
1428     250
1429      59
1430     118
1431      63
1432     393
1433     201
1434      95
1435     326
1436      64
1437     311
1438     377
1439     160
1440     157
1441     837
1442     156
1443       0
1444       0
1445     157
1446    1434
1447     182
1448     152
1449    1075
1450     233
1451      40
1452       0
1453     118
1454     948
1455     446
1456     126
1457     236
1458      40
1459     592
1460     344
1461      53
1462     342
1463     561
1464      75
1465     100
1466     109
1467     590
1468     171
1469       0
1470     210
1471     956
1472     499
1473     210
1474     176
1475      71
1476      37
1477     122
1478     207
1479     427
1480     256
1481      76
1482     965
1483     117
1484       0
1485     159
1486    1343
1487     144
1488     236
1489     121
1490      42
1491       0
1492       0
1493     190
1494     694
1495     278
1496     803
1497    1823
1498      75
1499     188
1500     250
1501     328
1502     245
1503      94
1504     891
1505     363
1506     475
1507      50
1508      31
1509     294
1510     381
1511      26
1512     707
1513     252
1514     686
1515     262
1516      91
1517     114
1518       0
1519     583
1520     156
1521      75
1522      71
1523     452
1524     488
1525     796
1526     247
1527    1666
1528     164
1529     465
1530     211
1531       0
1532       0
1533     731
1534     353
1535     254
1536       0
1537     380
1538     113

In [34]:
len(df[df['total_tenaga_kerja'] == 0])

357

In [38]:
df[df['total_tenaga_kerja'] == 0].head(10)

,id,nama,propinsi,kab,alamat,jenis,kelas,status_blu,kepemilikan,total_tempat_tidur,total_layanan,total_tenaga_kerja
3,1171163,RS Gigi Mulut Universitas Syiah Kuala,Aceh,Kota Banda Aceh,Jl. Prof A. Madjid Ibrahim I No. 5 Banda Aceh ...,Rumah Sakit Khusus Gigi dan Mulut,B,BLU,Kementerian Lain,11,24,0
9,1106025,RS Gayo Medical Centre,Aceh,Aceh Tengah,"Jl. Paya Tumpi-Mandale, No. 126 Kec. Kebayakan",Rumah Sakit Umum,D,Non BLU/BLUD,SWASTA/LAINNYA,60,56,0
22,1113023,RS Tanoh Gayo,Aceh,Gayo Lues,"Jl. Blower Kp Pers. Sentang, Desa/Kelurahan Bu...",Rumah Sakit Umum,D,Non BLU/BLUD,Kementerian Lain,54,22,0
25,1103022,RS Umum Daerah Type D Pratama T. Cut Ali,Aceh,Aceh Selatan,Jl. Padang Ketek Gampong Kedai Rundeng Kec. Kl...,Rumah Sakit Umum,D PRATAMA,Non BLU/BLUD,Pemkab,0,3,0
32,1111006,RS Umum Daerah dr. Muchtar Hasbi,Aceh,Aceh Utara,Jl. Medan Banda Aceh Alue Mudem Landing Lhoksukon,Rumah Sakit Umum,D PRATAMA,Non BLU/BLUD,Pemkab,28,13,0
38,1111029,RS Zahra,Aceh,Aceh Utara,"Jl. Medan-Banda Aceh, KM 303, Meunasah Reudeup...",Rumah Sakit Umum,D,Non BLU/BLUD,SWASTA/LAINNYA,56,11,0
39,1103021,RS Cahaya Sehat,Aceh,Aceh Selatan,"Jl. Panglima Raja Lelo, No. 10, Gampong Hilir,...",Rumah Sakit Umum,D,Non BLU/BLUD,Kementerian Lain,71,20,0
42,1171161,RS Umum Cempaka Lima,Aceh,Kota Banda Aceh,"Jl. Politeknik No 23 Dusun Meunasah Dayah, Lr ...",Rumah Sakit Umum,C,Non BLU/BLUD,Perusahaan,135,96,0
73,1109042,RS Umum Harapan Ibu,Aceh,Pidie,"Jl. Kembang Ranjong-Teupin Raya, Desa Gampong ...",Rumah Sakit Umum,D,Non BLU/BLUD,SWASTA/LAINNYA,58,24,0
77,1108028,RS Hermina Aceh,Aceh,Aceh Besar,"Jl. Soekarno Hatta, Kec. Ingin Jaya",Rumah Sakit Umum,D,Non BLU/BLUD,SWASTA/LAINNYA,63,22,0

In [41]:
df.loc[df['total_tenaga_kerja'] == 0, 'total_tenaga_kerja'] = np.nan

In [ ]:
df.loc[pd.isna(df['total_tenaga_kerja'])]

In [45]:
len(df.loc[pd.isna(df['total_tenaga_kerja'])])

357